*{
	margin: 0;
	padding: 0;
}
body{
	font-family: cursive;
	border: 5px solid red;
}
.red{
	color: red;
	text-align: center;
}
header{
	background-color: black;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
	border-bottom: 5px solid red;
}

header h1 a{
	font-size: 3em;
	text-decoration: none;
	color: white;
}
header h2{
	text-align: center;
}
header h2 a{
	text-align: center;
	font-size: 2.5em;
	text-decoration: none;
	color: white;
}
header h1 span{
	color: red;
}

header h2 span{
	color: red;
}
header p{
	font-size: 1.5em;
	text-align: center;
	color: white;
}
header p span{
	color: red;
}
header img{
	height: 200px;
}
header ul{
	display: flex;
	list-style: none;
}
header li a{
	margin-left: 20px;
	font-size: 2em;
	text-decoration: none;
	color: white;
}
.carta{
	top: 0;
	position: fixed;
	width: calc(100% - 30px);
	border-top: 5px solid red;
}
.carta nav li:not(:first-child) a{
	font-size: 2em;
}
.carta	nav li:nth-child(1) a{
	font-size: 2.5em;
	color: red;
}
.nosotros nav li:not(:nth-child(2)) a{
	font-size: 2em;
}
.nosotros nav li:nth-child(2) a{
	font-size: 2.5em;
	color: red;
}
/*Aquí termina la maquetacion del header principal y empieza la maquetacion de la section con clase "home*/
.home{
	height: calc(70vh - 15px);
	display: grid;
	grid-template-columns: repeat(2, calc(50% - 10px));
	gap: 20px;
	background-color: red;
}
.home img{
	height: 200px;
	width: 200px;
}

.home div{
	background-color: white;
	display: flex;
	padding: 10px;
}
.texto{
	text-align: center;
	margin: 20px 0 ;
	display: flex;
	justify-content: center;
	flex-direction:column;
	width: 70%;
}
/*Aquí empieza la maquetacion de la section carta.html*/
.intro{
	margin-top: 30vh;
	padding: 5px 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-bottom: 5px solid red;
}
.intro h2{
	font-size: 2em;
}
.intro p{
	margin-top: 5px;
	font-size: 1.5em;
}
.separador{
	padding: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-bottom: 5px solid red;
	border-top: 5px solid red;
	justify-content: center;
	background-color: red;
}
.separador h3{
	font-size: 2em;
}
.separador p{
	font-size: 1.5em;
}
.entrantes, .primeros, .segundos, .postres, .bebidas{
	text-align: center;
	background-color: red;
}
.cartaContenido{
	display: grid;
	grid-template-columns: repeat(2,calc(50% - 10px));
	gap: 20px;
	padding: 10px;
}
.cartaContenido img{
	height: 200px;
	width: 200px;
}
.productos{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 200px;
	border: 5px solid black;
	width: calc(100% - 10px);
	background-color: white;
}

.productos div h3{
	font-size: 2em;
}
.productos div p{
	font-size: 1.5em;
}
.imgTxt{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	text-align: center;
	width: 80%;
	height: 195px;
	margin-top: 5px;
}
.container{
	height: calc(70vh - 15px);
	display: flex;
	}
.bandera{
	background: url("../img/bandera01.jpg");
	width: 50%;
	border: 5px solid black;
}
.contenido{
	background-color: black;
	border: 5px solid red;
	}
.contenido h1{
	margin: 5px;
	color: red;
	font-size: 2.5em;
	text-align: center;
}
.contenido p{
	margin: 10px 25px;
	color: white;
	text-align: center;
	font-size: 20px;
}
.contenido p span{
	color: red;
}