*{
	margin: 0;
	padding: 0;
}
body{
	font-family: cursive;
	border: 5px solid red;
}
.red{
	color: red;
	text-align: center;
}
header{
	background-color: black;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
	border-bottom: 5px solid red;
}

header h1 a{
	font-size: 3em;
	text-decoration: none;
	color: white;
}
header h2{
	text-align: center;
}
header h2 a{
	text-align: center;
	font-size: 2.5em;
	text-decoration: none;
	color: white;
}
header h1 span{
	color: red;
}

header h2 span{
	color: red;
}
header p{
	font-size: 1.5em;
	text-align: center;
	color: white;
}
header p span{
	color: red;
}
header img{
	height: 200px;
	border-radius: 50%;
}
header ul{
	display: flex;
	list-style: none;
}
header li a{
	margin-left: 20px;
	font-size: 2em;
	text-decoration: none;
	color: white;
}
.carta{
	top: 0;
	position: fixed;
	width: calc(100% - 30px);
	border-top: 5px solid red;
}
.carta nav li:not(:first-child) a{
	font-size: 2em;
}
.carta	nav li:nth-child(1) a{
	font-size: 2.5em;
	color: red;
}
.nosotros nav li:not(:nth-child(2)) a{
	font-size: 2em;
}
.nosotros nav li:nth-child(2) a{
	font-size: 2.5em;
	color: red;
}
.contactos nav li:not(:nth-child(3)) a{
	font-size: 2em;
}
.contactos nav li:nth-child(3) a{
	font-size: 2.5em;
	color: red;
}
/*Aquí termina la maquetacion del header principal y empieza la maquetacion de la section con clase "home*/
.home{
	height: calc(70vh - 15px);
	display: grid;
	grid-template-columns: repeat(2, calc(50% - 10px));
	gap: 20px;
	background-color: red;
}
.home img{
	height: 200px;
	width: 200px;
}

.home div{
	background-color: white;
	display: flex;
	padding: 10px;
}
.texto{
	text-align: center;
	margin: 20px 0 ;
	display: flex;
	justify-content: center;
	flex-direction:column;
	width: 70%;
}
/*Aquí empieza la maquetacion de la section carta.html*/
.intro{
	margin-top: 30vh;
	padding: 5px 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-bottom: 5px solid red;
}
.intro h2{
	font-size: 2em;
}
.intro p{
	margin-top: 5px;
	font-size: 1.5em;
}
.separador{
	padding: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-bottom: 5px solid red;
	border-top: 5px solid red;
	justify-content: center;
	background-color: red;
}
.separador h3{
	font-size: 2em;
}
.separador p{
	font-size: 1.5em;
}
.entrantes, .primeros, .segundos, .postres, .bebidas{
	text-align: center;
	background-color: red;
}
.cartaContenido{
	display: grid;
	grid-template-columns: repeat(2,calc(50% - 10px));
	gap: 20px;
	padding: 10px;
}
.cartaContenido img{
	height: 200px;
	width: 200px;
	border-radius: 50%;
}
.productos{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 200px;
	border: 5px solid black;
	width: calc(100% - 10px);
	background-color: white;
}

.productos div h3{
	font-size: 2em;
}
.productos div p{
	font-size: 1.5em;
}
.imgTxt{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	text-align: center;
	width: 80%;
	height: 195px;
	margin-top: 5px;
}
.container{
	height: calc(70vh - 15px);
	display: flex;
	}
.bandera{
	background: url("../img/bandera01.jpg");
	width: 50%;
	border: 5px solid black;
}
.contenido{
	background-color: black;
	border: 5px solid red;
	}
.contenido h1{
	margin: 5px;
	color: red;
	font-size: 2.5em;
	text-align: center;
}
.contenido p{
	margin: 10px 25px;
	color: white;
	text-align: center;
	font-size: 20px;
}
.contenido p span{
	color: red;
}
.contatto{
	display: flex;
	height: calc(70vh - 15px);
}
.info, .respuesta{
	background-color: black;
	color: red;
	width: 50%;
	border: 5px solid red;
}
.info h3{
	font-size: 1.5em;
	margin-left: 10px;
}
.info p{
	margin-left: 15px;
	margin-bottom: 10px;
	color: white;
	font-size: 1.2em;
}
.info li{
	margin-left: 30px;
}
.formulario h3{
	text-align: center;
	font-size: 1.5em;
	margin: 20px 0;
}

form{
	margin: auto;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	width: 80%;
}
input{
	width: 80%;
	margin-bottom: 10px;
	margin: 15px auto;
	height: 15px;
	border: 5px solid red;
}
.formulario{
	width: 80%;
	display: flex;
	flex-direction: column;
}
input[type="submit"]{
	background-color: red;
	height: 30px;
	border: 5px solid black;
	text-align: center;
}
input[type="text"]{
	color: black;
	text-align: center;
}
.respuesta h3{
	font-size: 2em;
	margin-bottom: 20px;
	text-align: center;
}
.respuesta p{
	color: white;
	font-size: 1.2em;
	margin-bottom: 15px;
	padding: 0 15px;
}
.respuesta h4{
	font-size: 1.5em;
	text-align: center;
}

@media screen and (max-width: 1240px){
body{
}
header h1 a{
	left: auto;
	font-size: 2em;
}
header img{
	height: 150px;
	border-radius: 50%;
}

header li a{
	text-align: center;
	margin-left: 15px;
	font-size: 1.5em;
	text-decoration: none;
	color: white;
}
header li a:last-child{
	margin-right: 10px;
}
.home{
	width: 100%;
	gap: 10px;
}	
.home img{
	width: 170px;
	height: 170px;
}
.home div{
	align-items: center;
}
.home p{
	font-size: 1em
}
}
@media screen and (max-width: 1000px){
body{
}
header h1 a{
	left: auto;
	font-size: 1.5em;
}
header p{
	font-size: 14px;
}
header img{
	height: 150px;
	border-radius: 50%;
}

header li a{
	text-align: center;
	margin-left: 10px;
	font-size: 1.2em;
	text-decoration: none;
	color: white;
}
header li a:last-child{
	margin-right: 5px;
}
.home{
	width: calc(100% - -10px);
	gap: 10px;
}	
.home img{
	width: 150px;
	height: 150px;
}
.home div{
	align-items: center;
}
.home p{
	font-size: 14px;
}
}



@media screen and (max-width: 900px){
header h1 a{
	left: auto;
	font-size: 1.2em;
}
header p{
	font-size: 12px;
}
header img{
	height: 120px;
	border-radius: 50%;
}

header li a{
	text-align: center;
	margin-left: 10px;
	font-size: 1.2em;
	text-decoration: none;
	color: white;
}
nav ul{
	display: block;
}
.home{
	gap: 10px;
}	
.home img{
	width: 150px;
	height: 150px;
}
.home div{
	align-items: center;
}
.home p{
	font-size: 14px;
}
}

@media screen and (max-width: 800px){
header h1 a{
	left: auto;
	font-size: 1.2em;
}
header p{
	font-size: 12px;
}
header img{
	height: 120px;
	border-radius: 50%;
}

header li a{
	text-align: center;
	margin: 5px;
	margin-left: 10px;
	font-size: 1.2em;
	text-decoration: none;
	color: white;
}
nav ul{
	display: block;
}
.home{
	gap: 10px;
}	
.home img{
	width: 150px;
	height: 150px;
}
.home div{
	align-items: center;
}
.home p{
	font-size: 14px;
}
}