*{
	margin: 0;
	padding: 0;
}
body{
	font-family: cursive;
	border: 5px solid red;
}
.red{
	color: red;
	text-align: center;
}
.home2{
	display: none;
}
.carta .home2, .nosotros .home2, .contactos .home2{
	display: block;
}
.mori{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
header{
	height: calc(30vh - 10px);
	background-color: black;
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 10px;
	border-bottom: 5px solid red;
}
header div{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	}
header h1 a{
	font-size: 2.5em;
	text-decoration: none;
	color: white;
}
.carta h2 a, .nosotros h2 a, .contactos h2 a{
		font-size: 3em;
	}
header h2 a{
	text-align: center;
	text-decoration: none;
	color: white;
}
header h1 span{
	color: red;
}

header h2 span{
	color: red;
}
header p{
	font-size: 20px;
	text-align: center;
	color: white;
}r
header p span{
	color: red;
}
header img{
	height: 180px;
	border-radius: 30%;
}
header ul{
	display: flex;
	flex-direction: column;
	list-style: none;
}
header li a{
	margin-left: 20px;
	font-size: 2em;
	text-decoration: none;
	color: white;
}
.carta{
	top: 0;
	position: fixed;
	width: calc(100% - 30px);
	border-top: 5px solid red;
}
.carta nav li:not:nth-child(2) a{
	font-size: 2em;
}
.carta	nav li:nth-child(2) a{
	font-size: 2.5em;
	color: red;
}
.nosotros nav li:not(:nth-child(3)) a{
	font-size: 2em;
}
.nosotros nav li:nth-child(3) a{
	font-size: 2.5em;
	color: red;
}
.contactos nav li:not(:nth-child(4)) a{
	font-size: 2em;
}
.contactos nav li:nth-child(4) a{
	font-size: 2.5em;
	color: red;
}
/*Aquí termina la maquetacion del header principal y empieza la maquetacion de la section con clase "home*/
.home{
	height: calc(75vh - 45px);
	background-color: red;
	display: grid;
	grid-template-columns: repeat(2, calc(50% - 5px));
	gap: 10px;
	background-color: red;
	}

.home img{
	height: 200px;
	width: 200px;
}
.home div{
	background-color: white;
	display: flex;
	align-items: center;
	padding: 10px;
}
.texto{
	text-align: center;
	margin: 20px 0;
	display: flex;
	margin: 0 auto;
	justify-content: center;
	flex-direction:column;
	width: 70%;
}
/*Aquí empieza la maquetacion de la section carta.html*/
.intro{
	margin-top: 30vh;
	padding: 5px 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-bottom: 5px solid red;
	text-align: center;
}
.intro h2{
	font-size: 2em;
}
.intro p{
	margin-top: 5px;
	font-size: 1.5em;
}
.separador{
	padding: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-bottom: 5px solid red;
	border-top: 5px solid red;
	justify-content: center;
	background-color: red;
}
.separador h3{
	font-size: 2em;
}
.separador p{
	font-size: 1.5em;
}
.entrantes, .primeros, .segundos, .postres, .bebidas{
	text-align: center;
	background-color: red;
}
.cartaContenido{
	display: grid;
	grid-template-columns: repeat(2,calc(50% - 10px));
	gap: 20px;
	padding: 10px;
}
.cartaContenido img{
	height: 200px;
	width: 200px;
	border-radius: 50%;
}
.productos{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 200px;
	border: 5px solid black;
	width: calc(100% - 10px);
	background-color: white;
}

.productos div h3{
	font-size: 2em;
}
.productos div p{
	font-size: 1.5em;
}
.imgTxt{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	text-align: center;
	width: 50%;
	height: 195px;
	margin-top: 5px;
}
.container{
	/*height: calc(70vh - 15px);*/
	display: flex;
	}
.bandera{
	background: url("../img/otro/bandera01.jpg");
	width: 50%;
	border: 5px solid black;
}
.contenido{
	background-color: black;
	border: 5px solid red;
	}
.contenido h1{
	margin: 5px;
	color: red;
	font-size: 2.5em;
	text-align: center;
}
.contenido p{
	margin: 10px 25px;
	color: white;
	text-align: center;
	font-size: 20px;
}
.contenido p span{
	color: red;
}
.contatto{
	display: flex;
	height: calc(70vh - 15px);
}
.info, .respuesta{
	background-color: black;
	color: red;
	width: 50%;
	border: 5px solid red;
}
.info h3{
	font-size: 1.5em;
	margin-left: 10px;
}
.info p{
	margin-left: 15px;
	margin-bottom: 10px;
	color: white;
	font-size: 1.2em;
}
.info li{
	margin-left: 30px;
}
.formulario h3{
	text-align: center;
	font-size: 1.5em;
	margin: 20px 0;
}

form{
	margin: 10px auto;
	display: flex;
	align-items: center;
	flex-direction: row;
	width: 100%;
	flex-direction: column;
}
input{
	-webkit-appearance: none;
	appearance: none;
	width: 70%;
	margin: 10px auto;
	height: 15px;
	border: 5px solid red;
	background-color: transparent;
	
}
.formulario{
	width: 80%;
	display: flex;
	flex-direction: column;
}
input[type="text"]{
	color: black;
	text-align: center;
	font-family: cursive;
}
input:last-child{
	background-color: red;
}
.respuesta h3{
	font-size: 2em;
	margin-bottom: 20px;
	text-align: center;
}
.respuesta p{
	color: white;
	font-size: 1.2em;
	margin-bottom: 15px;
	padding: 0 15px;
	text-align: center;
}
.abrir, .cerrar{
	display: none;
}


/*RESPONSIVE*/

@media screen and (max-width: 1300px){
	header{
		height: calc(30vh - 10px);
	}
	header h1 a{
		font-size: 2.5em;
	}
	.home2{
		display: block;
	}
	header div{
		align-items: center;
	}
	.carta nav li:not(:nth-child(2)) a, .nosotros nav li:not(:nth-child(3)) a, .contactos nav li:not(:nth-child(4)) a{
		font-size: 1.5em;
	}
	.carta nav li:nth-child(2) a, .nosotros nav li:nth-child(3) a, .contactos nav li:nth-child(4) a{
		font-size: 3em;
	}
	header img{
		height: 150px;
	}
	header ul{
		flex-direction: column;
	}
	header li a{
		font-size: 1.5em;
		margin-left: 10px;
	}
	.home{
		gap: 10px;
	}
	.home div{
		padding: 5px;
	}
	.texto{
		text-align: center;
		margin: 0 10px;
	}
	.texto p{
		margin-top: 5px;
	}
	/*Carta.html*/

	.productos div h3{
		font-size: 1.5em;
	}
	.productos div p{
		font-size: 1.2em;
	}
	.contenido p{
		margin: 0;
		font-size: 20px;
	}
	/*Sobre_nosotros.html*/
	.container{
		height: 70vh;
	}
	/*contactos.html*/
	.info h3, .respuesta h3{
		font-size: 1.2em;
		margin-bottom: 15px;
	}
	.info p, .respuesta p{
		font-size: 18px;
		margin-bottom: 2px;
	}
}
@media screen and (max-width: 1150px){
	header{
		height: calc(30vh - 10px);
	}
	header h1 a{
		font-size: 1.5em;
	}
	header h2 a{
		font-size: 1.5em;
	}
	.carta nav li:not(:nth-child(2)) a, .nosotros nav li:not(:nth-child(3)) a, .contactos nav li:not(:nth-child(4)) a{
		font-size: 1.2em;
	}
	.carta nav li:nth-child(2) a, .nosotros nav li:nth-child(3) a, .contactos nav li:nth-child(4) a{
		font-size: 2em;
	}
	.home{
		width: 100%;
		gap: 5px;
	}
	.home div{
		padding: 0px 5px;
	}
	.home img{
		height: 150px;
		width: 150px;
	}
	.texto{
		text-align: center;
		margin: 0 5px;
	}
	.texto p{
		margin-top: 2px;
		font-size: 12px;
		text-align: justify;
	}
	/*Carta.html*/
	.intro{
		margin-top: 32vh;
	}
	.intro h2{
		margin-top: 5px;
		font-size: 2em;
	}
	.intro p{
		font-size: 1.2em;
	}
	.separador h3{
		font-size: 1.5em;
	}
	.productos div h3{
		font-size: 1em;
	}
	.productos div p{
		font-size: 16px;
	}
	.productos img{
		height: 150px;
		width: 150px;
	}
	/*Sobre_nosotros.html*/
	.contenido p{
		margin: 0;
		font-size: 16px;
	}
	.container{
		height: 70vh;
	}
	.bandera{
		width: 70%;
	}
	/*contactos.html*/
	.info h3, .respuesta h3{
		font-size: 1.2em;
		margin-bottom: 5px;
	}
	.info p, .respuesta p{
		font-size: 16px;
		margin-bottom: 2px;
	}
}
@media screen and (max-width: 1024px){
	header{
		height: calc(30vh - 10px);
	}
	header h1 a{
		font-size: 1.5em;
	}
	header h2 a{
		font-size: 1.5em;
	}
	.carta nav li:not(:nth-child(2)) a, .nosotros nav li:not(:nth-child(3)) a, .contactos nav li:not(:nth-child(4)) a{
		font-size: 1.2em;
	}
	.carta nav li:nth-child(2) a, .nosotros nav li:nth-child(3) a, .contactos nav li:nth-child(4) a{
		font-size: 2em;
	}
	.home{
		width: 100%;
		gap: 5px;
	}
	.home div{
		padding: 0px 5px;
	}
	.home img{
		height: 150px;
		width: 150px;
	}
	.texto{
		text-align: center;
		margin: 0 5px;
	}
	.texto p{
		margin-top: 2px;
		font-size: 12px;
		text-align: justify;
	}
	/*Carta.html*/
	.intro{
		margin-top: 32vh;
	}
	.intro h2{
		margin-top: 5px;
		font-size: 2em;
	}
	.intro p{
		font-size: 1.2em;
	}
	.separador h3{
		font-size: 1.5em;
	}
	.productos div h3{
		font-size: 1em;
	}
	.productos div p{
		font-size: 16px;
	}
	.productos img{
		height: 150px;
		width: 150px;
	}
	/*Sobre_nosotros.html*/
	.contenido p{
		margin: 0;
		font-size: 16px;
	}
	.container{
		height: 70vh;
	}
	.bandera{
		width: 100%;
	}
	/*contactos.html*/
	.info h3, .respuesta h3{
		font-size: 1.2em;
		margin-bottom: 5px;
	}
	.info p, .respuesta p{
		font-size: 16px;
		margin-bottom: 2px;
	}
}
@media screen and (max-width: 900px){
	header{
		height: calc(20vh - 10px);
	}
	header h1 a{
		font-size: 1.5em;
	}
	header p{
		font-size: 1em;
	}
	.carta h2 a, .nosotros h2 a, .contactos h2 a{
		font-size: 2em;
	}
	.home2{
		display: block;
	}
	header div{
		align-items: center;
	}
	.carta nav li:not(:nth-child(2)) a, .nosotros nav li:not(:nth-child(3)) a, .contactos nav li:not(:nth-child(4)) a{
		font-size: 1.2em;
	}
	.carta nav li:nth-child(2) a, .nosotros nav li:nth-child(3) a, .contactos nav li:nth-child(4) a{
		font-size: 2em;
	}
	header img{
		height: 120px;
	}
	header ul{
		flex-direction: column;
	}
	header li a{
		font-size: 1.5em;
		margin-left: 10px;
	}
	.home{
		width: 100%;
		gap: 5px;
	}
	.home div{
		padding: 0px 5px;
	}
	.home img{
		height: 150px;
		width: 150px;
	}
	.texto{
		text-align: center;
		margin: 0 5px;
	}
	.texto p{
		margin-top: 2px;
		font-size: 12px;
		text-align: justify;
	}
	/*Carta.html*/
	.intro{
		margin-top: 22vh;
	}
	.intro h2{
		margin-top: 5px;
		font-size: 2em;
	}
	.intro p{
		font-size: 1.2em;
	}
	.separador h3{
		font-size: 1.5em;
	}
	.productos div h3{
		font-size: 1em;
	}
	.productos div p{
		font-size: 14px;
		margin-bottom: 2px;
	}
	.productos img{
		height: 120px;
		width: 120px;
	}
	/*contactos.html*/
	.info h3, .respuesta h3{
		font-size: 1em;
		margin-bottom: 2px;
	}
	.info p, .respuesta p{
		font-size: 15px;
		margin-bottom: 10px;
	}
}
@media screen and (max-width: 800px){
		nav{
    position: fixed;
    top: -100vh;
    right: 0;
    padding: 20px;
    width: calc(100% - 40px);
    height: calc(35vh - 40px);
    background-color: black;
    transition: 1s;
	}
	.desplegado{
		top: 0;
	}
	nav	ul{
		display: block;
	}
	nav li{
		font-size: 1em;
		text-align: center	;
	}	
	nav li:not(last-child){
		margin-right: 0;
	}
	nav li:not(:first-child){
		margin-top: 20px;
	}
	nav a{
		color: white;
	}
	.cerrar{
		display: block;
		position: absolute;
		top: 20px;
		right: 20px;
		font-size: 3em;
		text-decoration: none;
	}
	.abrir{
		display: block;
		width: 30px;
		border: 1px solid red;
		padding: 5px 5px 0;
		border-radius: 5px;
	}
	.abrir span{
		display: block;
		height: 3px;
		background-color: red;
		margin-bottom: 5px;
		}
	.quitar{
		display: none;
	}
	.home{
		width: 100%;
		gap: 5px;
	}
	.home div{
		padding: 0px 5px;
	}
	.home img{
		height: 150px;
		width: 150px;
	}
	.texto{
		text-align: center;
		margin: 0 5px;
	}
	.texto p{
		margin-top: 2px;
		font-size: 12px;
		text-align: justify;
	}
	/*Carta.html*/
	.intro{
		margin-top: 22vh;
	}
	.intro h2{
		margin-top: 5px;
		font-size: 2em;
	}
	.intro p{
		font-size: 1.2em;
	}
	.separador h3{
		font-size: 1.5em;
	}
	.productos div h3{
		font-size: 1em;
	}
	.productos div p{
		font-size: 14px;
		margin-bottom: 2px;
	}
	.productos img{
		height: 120px;
		width: 120px;
	}
	.contenido p{
		margin: 0;
		font-size: 15px;
	}

	/*contactos.html*/
	.info h3, .respuesta h3{
		font-size: 16px;
		margin-bottom: 2px;
	}
	.info p, .respuesta p{
		font-size: 14px;
		margin-bottom: 10px;
	}
}
@media screen and (max-width: 700px){
	body{
		border: none;
	}
	.home{
		display: flex;
		flex-direction: column;
		background-color: white;
	}
	.home div{
		margin: 0 auto;
		padding: 0px 5px;
	}
	.home img{
		height: 150px;
		width: 150px;
	}
	/*Carta.html*/
	.intro{
		margin-top: 22vh;
	}
	.intro h2{
		margin-top: 5px;
		font-size: 2em;
	}
	.intro p{
		font-size: 1.2em;
	}
	.separador h3{
		font-size: 1.5em;
	}
	.productos{
		height: auto;
	}
	.productos div h3{
		font-size: 1em;
	}
	.productos div p{
		font-size: 14px;
		margin-bottom: 2px;
	}
	.productos img{
		height: 120px;
		width: 120px;
	}
	.contenido p{
		margin: 0;
		font-size: 15px;
	}

	/*contactos.html*/
	.info h3, .respuesta h3{
		font-size: 16px;
		margin-bottom: 2px;
	}
	.info p, .respuesta p{
		font-size: 12px;
		margin-bottom: 15px;
	}
	.formulario{
		margin: 10px auto;
	}
}
@media screen and (max-width: 600px){

	.cartaContenido{
		background-color: red;
		display: grid;
		grid-template-columns: repeat(1, calc(100% - 5px));
		gap: 10px;
		background-color: red;
	}	
	.intro h2{
		margin-top: 5px;
		font-size: 2em;
	}
	.intro p{
		font-size: 1.2em;
	}
	.separador h3{
		font-size: 1.2em;
	}
	.separador p{
		font-size: 1em;
	}
	.imgTxt{
		height: auto;
	}
	.productos div h3{
		font-size: 1em;
	}
	.productos div p{
		font-size: 14px;
		margin-bottom: 2px;
	}
	.productos img{
		height: 120px;
		width: 120px;
	}
	.contenido h1{
		font-size: 1.5em;
	}
	.contenido p{
		margin: 0;
		font-size: 14px;
	}

	/*contactos.html*/
	.contatto{
		height: auto;
	}
	.info h3, .respuesta h3{
		font-size: 14px;
		margin-bottom: 5px;
	}
	.respuesta{
		width: 50%;
	}
	.formulario h3{
		font-size: 1.2em;
	
	}
	form{
		margin: 0;
	}
	.info p{
		font-size: 12px;
		margin-bottom: 20px;
		text-align: left;
	}

	.respuesta p{
		font-size: 12px;
		margin-bottom: 5px;
		text-align: left;
	}
}
@media screen and (max-width: 500px){
	.carta{
		width: 100%;
		}
	header img{
		height: 100px;
	}
	.intro h2{
		margin-top: 5px;
		font-size: 1.2em;
	}
	.intro p{
		font-size: 1em;
	}

	.contenido h1{
		font-size: 1em;
	}
	.contenido p{
		margin: 0;
		font-size: 12px;
	}

	/*contactos.html*/
	.contatto{
		flex-direction: column;
		align-items: center;
	}
	.info h3, .respuesta h3{
		font-size: 12px;
		text-align: center;
	}
	.info, .respuesta{
		width: calc(100% - 10px);
	}
	.info ul{
		list-style: none;
	}
	.info p{
		margin-bottom: 10px;
	}
	.formulario h3{
		font-size: 1em;
		margin: 5px;
	}
	form{
		margin: 0 auto;
	}
	input{
		margin:  5px 0 ;
	}
	.info p{
		font-size: 12px;
		margin: 10px auto;
		text-align: center;
	}
	.respuesta p{
		font-size: 12px;
		text-align: center;
	}
}

@media screen and (max-width: 450px){

	header{;
		border: 5px solid red;
		height: calc(20vh - 10px);
	}
	header h1 a{
		font-size: 1em;
	}
	header img{
		display: none;
	}
	header p{
		font-size: 12px;
	}
	.carta h2 a, .nosotros h2 a, .contactos h2 a{
		font-size: 1em;
	}
	.contenido h1{
		font-size: 1em;
	}
	.contenido p{
		margin: 0 10px;
		font-size: 14px;
	}
	.home div {
		flex-direction: column;
		margin: 5px 0;
	}
	.bandera{
		display: none;
	}
	/*contactos.html*/
	.contatto{
		flex-direction: column;
		align-items: center;
	}
	.info h3, .respuesta h3{
		font-size: 12px;
		text-align: center;
	}
	.info, .respuesta{
		width: calc(100% - 10px);
	}
	.info ul{
		list-style: none;
	}
	.formulario h3{
		font-size: 1em;
		margin: 5px;
	}
	form{
		margin: 0 auto;
	}
	input{
		margin:  5px 0 ;
	}
	.info p{
		font-size: 12px;
		margin: 2px;
		text-align: center;
	}
	.respuesta p{
		font-size: 12px;
		text-align: center;
	}
}
@media screen and (max-width: 320px){

	header{
		border: 5px solid red;
		height: calc(20vh - 10px);
	}
	header h1 a{
		font-size: 1em;
	}
	header img{
		display: none;
	}
	header p{
		font-size: 12px;
	}
	.carta h2 a, .nosotros h2 a, .contactos h2 a{
		font-size: 1em;
	}
	.contenido h1{
		font-size: 1em;
	}
	.contenido p{
		font-size: 12px;
	}
	.home div {
		flex-direction: column;
		margin: 5px 0;
	}
	.bandera{
		display: none;
	}
	/*contactos.html*/
	.contatto{
		flex-direction: column;
		align-items: center;
	}
	.info h3, .respuesta h3{
		font-size: 12px;
		text-align: center;
	}
	.info, .respuesta{
		width: calc(100% - 10px);
	}
	.info ul{
		list-style: none;
	}
	.formulario h3{
		font-size: 1em;
		margin: 5px;
	}
	form{
		margin: 0 auto;
	}
	input{
		margin:  5px 0 ;
	}
	.info p{
		font-size: 12px;
		margin: 2px;
		text-align: center;
	}
	.respuesta p{
		font-size: 12px;
		text-align: center;
	}
}
}